<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>Edit Your Chat..<%= chat._id %></h3>
    <p>This chat was send from <%= chat.from %> to <%= chat.to %></p>
    <br><br>
   <form method="post" action="/chats/<%= chat._id %>?_method=PUT">
    <textarea placeholder="msg" name="msg" rows="5" cols="30"></textarea>
    <br>
    <button>Edit Chat</button>
   </form>
</body>
</html>