<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>Write Your New Chats...</h3>
    <form method="post" action="/chats">
        <input placeholder="Enter Your Name" name="from">
        <br><br>
        <textarea name="msg" placeholder="Write your message here..."></textarea>
        <br><br>
        <input placeholder="Add Receiver" name="to">
        <br><br>
        <button>Creat New Chat</button>
    </form>
</body>
</html>